{% extends 'base.html' %}

{% block content %}
<h3>Details for plate number - {{ object.plate_number|upper }}</h3>

<p><b>Plate Number</b> - {{ object.plate_number|upper }}</p>
<p><b>Owner First Name</b> - {{ object.first_name|title }}</p>
<p><b>Owner Last Name</b> - {{ object.last_name|title }}</p>

<ul class="actions">
	<li><a href="{{ object.get_update_url }}" class="button primary">Update</a></li>
	<li><a href="{{ object.get_delete_url }}" class="button primary">Delete</a></li>
	<li><a href="/plates/" class="button">Back to Main</a></li>
	<li><a href="/plates/list/" class="button">Back to List</a></li>
</ul>

{% endblock %}