{% extends 'base.html' %}

{% block content %}
<ul class="actions">
	<li><a href="/plates/" class="button">Back to Main</a></li>
</ul>

<div>
	<h4>Click on a plate number to EDIT/DELETE</h4>
</div>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Plate Number</th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>

		<tbody>

			{% for instance in object_list %}

				<tr>
					<td>{{ instance.id }}</td>
					<td><a href='{{ instance.get_absolute_url }}'>{{ instance.plate_number }}</a></td>
					<td>{{ instance.first_name }}</td>
					<td>{{ instance.last_name }}</td>
				</tr>

			{% endfor %}

		</tbody>


	</table>

{% endblock %}